body{
    background-color: rgb(50, 97, 226);
}
img{
    width: 120px;
    height: 120px;
    position: absolute;
    right: 370px;
    bottom: 2px;
    
}
main{
    background-color: rgb(219, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 800px;
    margin: auto;
}
.header{
    position: relative;
}